<div class="topic-choice" id="topic-choice-container">
  <h2>Choose a Cause</h2>
  <div class="cause" id="environmentalism" key="environmentalism"></div>
  <div class="cause" id="social-justice" key="socialJustice"></div>
  <div class="cause" id="animal-rights" key="animalRights"></div>
</div>
