<div class="topic-choice">
  <h2>Choose a Cause</h2>
  <div class="cause" id="environmentalism"></div>
  <div class="cause" id="social-justice"></div>
  <div class="cause" id="animal-rights"></div>
</div>
