
<div class="form-wrapper">
  <div class="banner">
    <h1>Goodwill</h1>
  </div>
  <div class="col col-copy">
    <p><strong>PUT YOUR UNUSED TWITTER CHARACTERS TO GOOD USE.</strong></p>
    <p>Every day, millions of Twitter characters go unused. That's . But now you can tweet as you normally would, and we'll turn any leftover characters into a message about the cause of your choice.</p>
  </div>
  <div class="col col-form-input">
    <div class="underlay">
      <pre id="user-text"></pre>
      <!-- to maintain alignment of the generated-text, #user-text is pre-formatted and transparent  -->
      <pre id="generated-text"></pre>
    </div>

    <%= render "tweet_form" %>
  </div> <!-- .col-form-input -->
</div> <!-- .form-wrapper -->
<%= render "topic_choices" %>

