
<div class="form-wrapper">
  <div class="banner">
    <h1>Donate Your Tweets to a Cause</h1>
  </div>
  <div class="col col-copy">
    <p class="">PUT YOUR UNUSED TWITTER CHARACTERS TO GOOD USE.</p>
    <p>Every day, millions of Twitter characters go unused. That's . But now you can tweet as you normally would, and we'll turn any leftover characters into a message about the cause of your choice.</p>
  </div>
  <div class="col col-form-input">
    <form action="#" method="post" id="tweet-form">
      <input type="text" placeholder="tweet text">
      <input type="submit" value="Create Tweet">
      <textarea name="" id="" cols="30" rows="10" form="tweet-form" placeholder="tweet text"></textarea>
    </form>
  </div> <!-- .col-form-input -->
</div> <!-- .form-wrapper -->
