
// Development Helpers
$babyblue: RGB(160, 195, 255);
$pleasinghue: #facade;
$textAndPreTagFontFamily: monospace;
$textAndPreTagFontSize: 1.2em;

html, body {
  height:100%;
  font: sans-serif;
}

h1, p, form, input, div {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 auto;
  width:960px;
  height: 100%;
}

.banner h1 {
  text-align: center;
}

.form-wrapper {
  background-color: $pleasinghue;
  clear: both;
  // height: 100%;
  overflow: hidden;
}

.col-copy {
  background-color: $babyblue;
  float: left;
  padding: 20px;
  width: 440px;
}

.col-form-input {
  position: relative;
  float: right;
  font-size: 12px;
  vertical-align: top;
  width:480px;
  textarea {
    color:red;
    border: 0;
    font-family: $textAndPreTagFontFamily;
    font-size: $textAndPreTagFontSize;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 500;
    // commented this out, as it's unclear whether chrome needs it
    // -webkit-text-fill-color:orange;
  }
}

div.col-form-input form input[type='submit'] {
  display: block;
  float: right;
}

// z-indexs for laying the invisible textarea over the actual displayed text

.underlay {
  position: absolute;
  pre {
    display: inline;
    font: $textAndPreTagFontFamily;
    font-size: $textAndPreTagFontSize;
    margin: 0;
    overflow: wrap;
    padding: 0;
    /* Browser specific (not valid) styles to make preformatted text wrap */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    z-index: 5;
  }
}

.topic-choice {
  text-align: center;
  .cause {
    background-size: contain;
    display: inline-block;
    height: 5em;
    margin-left: 1.5em;
    width: 5em;
  }
  #environmentalism {
    background: image-url('leaf_47caaa.svg');
    background-size: contain;
  }
  #social-justice {
    background: image-url('hammer_477dca.svg');
    background-size: contain;
  }
  #animal-rights {
    background: image-url('lab_477dca.svg');
    background-size: contain;
  }
}
